<div class="new-task">
  <div class="new-task_input-container">
    <label class="new-task_label" for="new-task">Título da Tarefa</label>
    <input
      id="new-task"
      class="new-task_input"
      type="text"
      [(ngModel)]="newTaskTitle"
      placeholder="Digite uma ou mais tarefas separadas por | (pipe)"
      (keyup.enter)="addTask()"
      required
      minlength="1"
      pattern=".*\S+.*"
    />
  </div>
  <button class="new-task_button" (click)="addTask()" [disabled]="!newTaskTitle?.trim()">
    Salvar
  </button>
</div>
